[project]
name = "endfield"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "flask>=3.1.2",
    "pandas>=3.0.0",
]

[dependency-groups]
dev = [
    "pytest>=9.0.2",
]
